doctype html
body
    .col-md-6
        h3#invite-editor Pending Invites
            hr
            table.table.table-bordered
                thead
                    tr
                        tbody
                            tr.ng-scope(ng-repeat='invite in invites track by $index')
                                td
                                    h4 {{invite.title}}
                                        table
                                            td
                                                .dropdown
                                                    a(href="#", data-toggle="dropdown").dropdown-toggle
                                                        button.btn.btn-primary.btn-block(type='button') View
                                                    ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
                                                        .container-form
                                                            li Class: {{invite.class}}
                                                            li From: {{invite.from}}
                                                            li.divider
                                                            li Location: {{invite.location}}
                                                            li Date: {{invite.date}}
                                                            li Time: {{invite.time}}
                                                            li Message: {{invite.message}}
                                                            li.divider
                                                            li
                                                                table
                                                                    td
                                                                        button.btn.btn-primary.btn-block(ng-click='accepts.push(invites.splice($index,1)[0])') Accept
                                                                    td
                                                                        button.btn.btn-danger(ng-click='invites.splice($index, 1)') Decline
    .col-md-6
        h3#invite-editor Accepted Invites
            hr
            table.table.table-bordered
                thead
                    tr
                        tbody
                            tr.ng-scope(ng-repeat='accept in accepts track by $index')
                                td
                                    h4 {{accept.title}}
                                        table
                                            td
                                                .dropdown
                                                    a(href="#", data-toggle="dropdown").dropdown-toggle
                                                        button.btn.btn-primary.btn-block(type='button') View
                                                    ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
                                                        .container-form
                                                            li Class: {{accept.class}}
                                                            li From: {{accept.from}}
                                                            li.divider
                                                            li Location: {{accept.location}}
                                                            li Date: {{accept.date}}
                                                            li Time: {{accept.time}}
                                                            li Message: {{accept.message}}
                                                            li.divider
                                                            li
                                                                table
                                                                    td
                                                                        button.btn.btn-danger(ng-click='accepts.splice($index, 1)') Delete

