//
   Created by D Mac on 6/2/2015.

doctype html
html
   head
      script(src="profile.coffee")
      style.
         #bottom {
            margin-bottom: 90px;
         }

         textarea {
            resize: none;
            margin-bottom: 10px;
            width: 100%;
         }

   body
      h1 Add a New Requirement
      h5
         big Class
      .input-group.col-sm-12
         select.form-control.input-md#classList(type='text', placeholder='CSE 100')
      h5
         big Type of Requirement
      .input-group.col-sm-12
         select.form-control.input-md(type='text', placeholder='Type of Requirement')
            option Essay
            option Final
            option Homework
            option Lab
            option Project
            option Quiz
            option Test
      h5
         big Date
      .input-group.col-sm-12
         input.form-control.input-md(type='text', placeholder='Enter a date in the format MM//DD/YYYY')
      h5
         big Time
      .row
         .col-sm-3
            h6 hour
            select#hour.form-control.input-md
         .col-sm-3
            h6 minute
            select#min.form-control.input-md
         .col-sm-3
            h6 a.m./p.m.
            select.form-control.input-md
               option a.m.
               option p.m.
      .row
         .col-lg-12
            h5
               big Description:
            small Max 240 characters
      textarea(rows='5', name='Message' maxlength=240)
      .divider
      button#bottom.btn.btn-primary.btn-block(type='button', size='btn-sm') Send