//
   Created by D Mac on 5/12/2015.

doctype html

body
   h3.text-center Privacy Policy
   p SyncNStudy App (copyright pending) makes a commitment to not ask for or use any information except the user&#146s school, enrolled courses, and the user&#146s calendar.  Any information provided to SyncNStudy will not be disseminated to any third party organization.
