//
    Author: Dylan McNamara

doctype html
html
    head
        script(src="profile.coffee")
        style.
            #updateButton, #resetButton {
                margin-bottom: 90px;
            }
            textarea {
                resize: none;
            }
            .center {
                text-align: center;
                display: block;
                vertical-align: middle;
            }
            .extendWidth {
                width: 33%;
            }
            .fillWidth {
                width: 100%;
            }
            .fillHeight {
                height: 100%;
                float: none;

            }

body
        .container
            h2(align='center')
                label#title Hello
            .row.form-group.center
                .col-md-6
                    .row
                        label
                            big Avatar:
                    .row
                        img(id='avatarimg', align='center', alt='Avatar', width='300', height='300', src='http://jeanbaptiste.bayle.free.fr/AVATAR/grey_default_avatar1234375017_opensalon.jpg')
                        //.btn-group-lg-pic
                            label.btn.btn-primary.ng-pristine.ng-untouched.ng-valid.extendWidth(onclick='changeSize(300)') Small
                            label.btn.btn-primary.ng-pristine.ng-untouched.ng-valid.extendWidth(onclick='changeSize(350)') Medium
                            label.btn.btn-primary.ng-pristine.ng-untouched.ng-valid.extendWidth(onclick='changeSize(400)') Large
                        form(role='form')
                            label.fillWidth(for='img')
                                input#imgFile.btn.btn-default.btn-info.btn-sm.fillWidth(type='file' accept='image/*' onchange="uploadImage()")
                .col-md-6
                    .row
                        label
                            big About Me:&#160
                        label
                            small 240 max characters
                    .row
                        textarea#about.form-control.fillHeight.fillWidth(maxlength='240' rows=15)

            hr
            form(role='form')
                .row.form-group
                    label(for='usr')
                        big Name:
                    input#name.form-control(type='text')
                .row.form-group
                    label(for='usr')
                        big Email:
                    label#email.form-control(type='text') kwest@gary.edu
                .row.form-group
                    label
                        big University:
                    label#uni.form-control(type='text') University of California, San Diego
                .row.form-group
                    label
                        big Major:
                    input#maj.form-control(type='text')
            .row
                button.btn.btn-primary.btn-lg#updateButton(onclick='updateAccInfo()') Update
                button.btn.btn-danger.btn-lg.pull-right#resetButton(onclick='resetInfo()') Reset