doctype html
html
    head
        script(src="profile.coffee")
        stylesheet(href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    body

        .container
            h2(align='center')
                label#title Hello
            .row
                .col-md-12.center-block
                    label
                        big Avatar:
            .row
                .col-md-12
                    img(id='avatarimg', align='center', alt='Avatar', height='200', width='200', src='http://static.dezeen.com/uploads/2013/09/dezeen_Kanye-West_1.jpg')
                .col-md-12
                    .btn-group-lg-pic
                        label.btn.btn-primary.ng-pristine.ng-untouched.ng-valid(onclick='changeSize(200)') Small
                        label.btn.btn-primary.ng-pristine.ng-untouched.ng-valid(onclick='changeSize(350)') Medium
                        label.btn.btn-primary.ng-pristine.ng-untouched.ng-valid(onclick='changeSize(500)') Large
                        //label.btn.btn-primary.ng-untouched.ng-valid.active.ng-dirty.ng-valid-parse(onclick='changeSize(500)') Large
                    //button.btn.btn-info.btn-sm(onclick='changeSize(200)') Small
                    //button.btn.btn-info.btn-sm(onclick='changeSize(350)') Medium
                    //button.btn.btn-info.btn-sm(onclick='changeSize(500)') Large
            .row
            form(role='form')
                .form-group
                    label(for='img')
                        input#imgFile.btn.btn-default.btn-info.btn-sm(type='file' accept='image/*' onchange="uploadImage()")
                .row
                form(role='form')
                    .form-group
                        label(for='usr')
                            big Name:
                        input#name.form-control(type='text')
                    .form-group
                        label(for='usr')
                            big Email:
                        label#email.form-control(type='text') kwest@gary.edu
                    .form-group
                        label
                            big University:
                        label#uni.form-control(type='text') University of California, San Diego
                    .form-group
                        label
                            big Major:
                        input#maj.form-control(type='text')
                    .form-group
                        label
                            big About Me:&#160
                        label
                            small 24O max characters
                        textarea#about.form-control(rows="4" maxlength='240')
                button.btn.btn-primary.btn-lg(onclick='updateAccInfo()') Update
                button.btn.btn-primary.btn-lg.pull-right(onclick='resetInfo()') Reset
