doctype html
html
    head
        script(src="profile.coffee")
    body

        .container
            h2(align='center')
                b Profile
            .row
                .col-md-12
                    label
                        big Avatar:
            .row
                .col-md-12
                    img(id='avatarimg', align='center', alt='Avatar', height='200', width='200', src='http://static.dezeen.com/uploads/2013/09/dezeen_Kanye-West_1.jpg')
                .col-md-12
                    .btn-group-lg-pic
                        label.btn.btn-primary.ng-pristine.ng-untouched.ng-valid(onclick='changeSize(200)') Small

                        label.btn.btn-primary.ng-pristine.ng-untouched.ng-valid(onclick='changeSize(350)') Medium

                        label.btn.btn-primary.ng-untouched.ng-valid.active.ng-dirty.ng-valid-parse(onclick='changeSize(500)') Large
                    //button.btn.btn-info.btn-sm(onclick='changeSize(200)') Small
                    //button.btn.btn-info.btn-sm(onclick='changeSize(350)') Medium
                    //button.btn.btn-info.btn-sm(onclick='changeSize(500)') Large
            .row
            form(role='form')
                .form-group
                    label(for='img')
                        input#imgFile.btn.btn-default.btn-info.btn-sm(type='file' accept='image/*' onchange="uploadImage()")
                .row
                form(role='form')
                    .form-group
                        label(for='usr')
                            big Name:
                        input#name.form-control(type='text', placeholder='Kanye West')
                    .form-group
                        label(for='usr')
                            big Email:
                        input#email.form-control(type='text', placeholder='kwest@gary.edu')
                    .form-group
                        label
                            big University:
                        input#uni.form-control(type='text', placeholder='Gillespie Institute of Technology')
                    .form-group
                        label
                            big Major:
                        input#maj.form-control(type='text', placeholder='Computer Swagience')
                button.btn.btn-primary.btn-lg(onclick='updateAccInfo()') Update
                button.btn.btn-primary.btn-lg.pull-right(onclick='resetInfo()') Reset
